# configs/experiment/segmentation.yaml
model:
  class_path: modules.HSISegmentationModule
  init_args:
    arch_name: unet
    # ['resnet18', 'resnet34', 'resnet50', 'resnet101', 'resnet152', 'resnext50_32x4d', 'resnext101_32x4d', 'resnext101_32x8d', 'resnext101_32x16d', 'resnext101_32x32d', 'resnext101_32x48d', 'dpn68', 'dpn68b', 'dpn92', 'dpn98', 'dpn107', 'dpn131', 'vgg11', 'vgg11_bn', 'vgg13', 'vgg13_bn', 'vgg16', 'vgg16_bn', 'vgg19', 'vgg19_bn', 'senet154', 'se_resnet50', 'se_resnet101', 'se_resnet152', 'se_resnext50_32x4d', 'se_resnext101_32x4d', 'densenet121', 'densenet169', 'densenet201', 'densenet161', 'inceptionresnetv2', 'inceptionv4', 'efficientnet-b0', 'efficientnet-b1', 'efficientnet-b2', 'efficientnet-b3', 'efficientnet-b4', 'efficientnet-b5', 'efficientnet-b6', 'efficientnet-b7', 'mobilenet_v2', 'xception', 'timm-efficientnet-b0', 'timm-efficientnet-b1', 'timm-efficientnet-b2', 'timm-efficientnet-b3', 'timm-efficientnet-b4', 'timm-efficientnet-b5', 'timm-efficientnet-b6', 'timm-efficientnet-b7', 'timm-efficientnet-b8', 'timm-efficientnet-l2', 'timm-tf_efficientnet_lite0', 'timm-tf_efficientnet_lite1', 'timm-tf_efficientnet_lite2', 'timm-tf_efficientnet_lite3', 'timm-tf_efficientnet_lite4', 'timm-skresnet18', 'timm-skresnet34', 'timm-skresnext50_32x4d', 'mit_b0', 'mit_b1', 'mit_b2', 'mit_b3', 'mit_b4', 'mit_b5', 'mobileone_s0', 'mobileone_s1', 'mobileone_s2', 'mobileone_s3', 'mobileone_s4']
    encoder_name: efficientnet-b4
    num_classes: 2
    in_chans: 16
    pretrained: true
    freeze_encoder: true
    lr: 0.0001
    loss_name: ce

trainer:
  log_every_n_steps: 1
  max_epochs: 400

  logger:
    class_path: WandbLogger
    init_args:
      save_dir: logs
      entity: k298976-unicamp
      project: hypersynth
      log_model: false

  callbacks:
    - class_path: FixedModelCheckpoint
      init_args:
        filename: epoch={epoch:02d}-val_dice={val/dice:.4f}
        monitor: val/dice
        verbose: true
        save_last: true
        mode: max
        auto_insert_metric_name: false

    - class_path: EarlyStopping
      init_args:
        monitor: val/dice
        min_delta: 0.001
        patience: 40
        verbose: true
        mode: max
        strict: true

    # - class_path: LearningRateMonitor
    #   init_args:
    #     logging_interval: step